:root {
  .poster {
    position: relative;
    font-family: Unbounded, sans-serif;
    font-size: 20px;
    line-height: 1.15;
    grid-area: poster;
    aspect-ratio: 2 / 3;
    border-radius: 12px;
    background: #2e4f5b;
    box-shadow: 0 24px 48px rgba(0, 0, 0, .45);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgba(255, 255, 255, .9);
    max-height: 450px;

    .poster-movie-title {
      position: absolute;
      font-size: 16px;
      background: #34466b;
      width: 100%;
      padding: 7px;
    }
  }

  @media (max-width: 767px) {
    .poster {
      font-size: 15px;
      width: 240px; justify-self: center;
    }
  }
}
